---
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { BLOCKS, INLINES } from '@contentful/rich-text-types';

// import RenderContent from "../../components/RenderContent.Astro";
import Layout from "../../layouts/Layout.astro";
import type { DocPost } from "../../lib/contentful";


export async function getStaticPaths() {

const options = {
  renderNode: {
      [BLOCKS.HEADING_3]: (node: any, next: any) =>
      `<h3 class="text-xl">${next(node.content)}</h2>`,
      [BLOCKS.HEADING_2]: (node: any, next: any) =>
      `<h2 class="text-2xl">${next(node.content)}</h2>`,
      [BLOCKS.PARAGRAPH]: (node: any, next: any) =>
      `<p>${next(node.content)}</p>`,
      [BLOCKS.EMBEDDED_ASSET]: (node: any, next: any) =>
      `<Image width="100" height="200" src="${node.data.target.fields.file.url}" alt="A description of my image." />`,
      [BLOCKS.LIST_ITEM]: (node: any, next: any) =>
      `<li>${next(node.content)}</li>`,
      [BLOCKS.UL_LIST]: (node: any, next: any) =>
      `<ul class="list-disc ml-6">${next(node.content)}</ul>`,
      [INLINES.HYPERLINK]: (node: any, next: any) =>
      `<a class="link text-primary" href="${node.data.uri}">${next(node.content)}</a>`,
  },
};


  const entries = await contentfulClient.getEntries<DocPost>({
    content_type: "knowledgeBase",
  });

  const pages = entries.items.map((item) => ({
    params: { slug: item.fields.slug },
    props: {
      title: item.fields.title,
      slug: item.fields.slug,
      category: item.fields.category,
      description: item.fields.description,
      content: documentToHtmlString(item.fields.content, options),
      tags: item.fields.tags,
    },
  }));
  return pages;
}


const { title, content, category } = Astro.props;

---
<Layout>
  <div class="space-y-4">
    <span class="text-sm text-gray-500">{category}</span>
    <article class="space-y-8" set:html={content}/>

  </div>
  
</Layout>